<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration </title>
    <link rel="stylesheet" href="../static/css/signup.css">
   </head>
<body>
  <div class="wrapper">
    <h2>Registration</h2>
    <form action="{% url 'signup' %}" method="POST">
      {% csrf_token %}
      <div class="input-box">
        <input type="text" name="firstname" class="input-text" placeholder="First Name" required>
      </div>
      <div class="input-box">
        <input type="text" name="lastname" class="input-text" placeholder="Last Name" required>
      </div>
      <div class="input-box">
        <input type="text" name="username" class="input-text" placeholder="User Name" required>
      </div>
      <div class="input-box">
        <input type="text" name="email" class="input-text" placeholder="Email" required>
      </div>
      <div class="input-box">
        <input type="text" name="password" class="input-text" placeholder="Password" required>
      </div>
      <div class="input-box">
        <input type="password" name="confirm_password" class="input-text" placeholder="Confirm password" required>
      </div>
      <div class="policy">
        <input type="checkbox">
        <h3>I accept all terms & condition</h3>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Register Now">
      </div>
      <div class="text">
        <h3>Already have an account? <a href="/login1">Login now</a></h3>
      </div>
    </form>
  </div>

</body>
</html>
